<h2>Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
    <!-- <%-  %> | include this -->
    <div class="form-row form-row-right btn-row">
      <a class="btn btn-danger" href="/books">Cancel</a>
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>