<h2>New Book</h2>
<form action="/books" method="POST">
  <?- include('_form_fields') ?>
  <!-- common code -->
  <!-- <?-  ?> | include this -->
  <div class="form-row form-row-right btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>