:root {
  --nav-title-font-size: 3rem;
  --nav-title-font-weight: bold;
  --nav-link-font-weight: 300;
}

.header-title {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: var(--nav-title-font-size);
  font-weight: var(--nav-title-font-weight);
}

.header-nav {
  /* displays the items contained side by side, horizontally */
  display: flex;
  /* when not have space the next element go to next row */
  flex-wrap: wrap;
  /* maximize space between our 2 elements */
  justify-content: space-between;
  /* certer the elements on a horizontal line */
  align-items: center;
  margin-bottom: 3rem;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: var(--nav-link-font-weight);
  padding: 1rem;
}

.header-nav li a:hover, .header-title:hover {
  color: white;
}