<!-- use _ to indicate that this file is partial
The fields are used in two sections: add & edit Author
This file is the common part of this two sections. -->

<label>Name</label>
<input type="text" name="name" value="<%= author.name %>">

<!-- <%= author.name %> | render author.name, not show direct text -->